@model UserVM

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <form class="login" asp-action="ChangePassword" method="post">
        <h3 class="title">Yeni şifrə</h3>
        <p class="validation">@ViewBag.PasswordError</p>
        <span class="validation v">@ViewBag.PasswordInfo <a asp-action="PasswordRequirements" class="pass">@ViewBag.PasswordRequirements</a></span>
        <span class="success">@ViewBag.Success</span>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input asp-for="Username" value="@ViewBag.Displayname" disabled />
        </div>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input asp-for="NewPassword" placeholder="Yeni şifrə" />
        </div>
        <span asp-validation-for="NewPassword" class="validation"></span>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input asp-for="ConfirmPassword" placeholder="Şifrəni təsdiqlə" />
        </div>
        <span asp-validation-for="ConfirmPassword" class="validation"></span>
        <span class="validation">@ViewBag.CheckPassword</span>
        <button class="login-btn">Təsdiqlə</button>
    </form>
</div>
