@model UserVM

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <form class="login" asp-action="ChangePassword" method="post">
        <h3 class="title">Yeni parol</h3>
        <span class="validation">@ViewBag.UsernameOrPasswordError</span>
        <span class="validation">@ViewBag.UserError</span>
        <span class="validation">@ViewBag.PasswordError</span>
        <span class="validation">@ViewBag.Error</span>
        <span class="success">@ViewBag.Success</span>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input asp-for="Username" value="@ViewBag.Displayname" disabled />
        </div>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input asp-for="NewPassword" placeholder="Yeni parol" />
        </div>
        <span asp-validation-for="NewPassword" class="validation"></span>
        <div class="text-input">
            <i class="ri-lock-fill"></i>
            <input asp-for="ConfirmPassword" placeholder="Parolu təsdiqlə" />
        </div>
        <span asp-validation-for="ConfirmPassword" class="validation"></span>
        <span class="validation">@ViewBag.CheckPassword</span>
        <button class="login-btn">Təsdiqlə</button>
    </form>
</div>
